.about-program {
  position: relative;
  background-image: url("../img/watercolor-program-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background: url("../img/watercolor-program-desktop@2x.png") no-repeat;
  }
}

.about-program__p {
  width: 720px;
  margin: auto;
  font-family: $font-fira;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 170%;
  text-align: center;
}

.about-program__p--2 {
  margin-top: 0;
}

.about-program__wrap {
  width: calc(100% - 500px);
  margin: 0 auto;
  min-width: 870px;
}

.about-program__head {
  margin-top: 65px;
  text-align: center;
  margin-bottom: 25px;
}

.about-program__img {
  margin-top: 45px;
  position: relative;
}

.about-program__button {
  width: 96px;
  height: 96px;
  background-color: transparent;
  border: none;
  position: absolute;
  background-image: url("../img/play-button.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 40%;
  left: 44%;
}

.about-program__button:hover {
  opacity: 1;
  background-image: url("../img/play-button-hover.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-program__button:active {
  opacity: 1;
  background-image: url("../img/play-button-active.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: $tablet-width) {
  .about-program__wrap {
    width: calc(100% - 40px);
    margin: 0 auto;
    min-width: 750px;
    overflow: hidden;
  }

  .about-program__head {
    margin: 0 auto;
  }

  .about-program__img {
    margin: 0 auto;
  }

  .about-program__img img {
    width: 100%;
    margin: auto;
  }
}

@media (max-width: $mobile-width) {
  .about-program__wrap {
    min-width: 320px;
    margin-top: 45px;
  }

  .about-program__img {
    max-width: 500px;
    margin-top: 50px;
  }

  .about-program__p {
    width: calc(100% - 20px);
    min-width: 300px;
    margin-top: 20px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    text-align: initial;
  }

  .about-program__button {
    width: 80px;
    height: 80px;
  }

  .about-program__p--2 {
    margin-top: 0;
  }
}
