.call {
  position: fixed;
  top: 0;
  z-index: 66667;
}

.call__wrap {
  width: 380px;
  position: relative;
  background-color: $color-white;
  margin: 0 auto;
  margin-top: 100px;
  overflow: hidden;
  padding-top: 26px;
  padding-bottom: 112px;
  padding-left: 48px;
  padding-right: 48px;
  text-align: center;
}

.call__button {
  right: 30px;
}

.call__decoration {
  width: 68px;
  height: 64px;
  margin: 0 auto;
  margin-top: 70px;
}

@media (max-width: $mobile-width) {
  .call__wrap {
    width: 288px;
    position: relative;
    background-color: $color-white;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 24px;
    padding-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
