.contacts {
  padding-top: 40px;
  background-image: url("../img/watercolor-contacts-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contacts__p {
  margin-top: 5px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  opacity: 0.87;
}

.contacts__p2 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  opacity: 0.5;
}

.contacts__details {
  position: relative;
  width: calc(100% - 210px);
  min-width: 740px;
  max-width: 1366px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 110px;
}

.contacts__map {
  width: calc(100% - 515px);
  background-image: url("../img/map-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  margin-top: 40px;
  position: absolute;
  right: -100px;

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background: url("../img/map-desktop@2x.png") no-repeat;
    background-size: 100%;
  }
}

.contacts__footer {
  width: calc(100% - 220px);
  min-width: 1000px;
  max-width: 1366px;
  margin: 0 auto;
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
}

.contacts__form {
  display: flex;
  width: 760px;
  justify-content: space-between;
}

.contacts__input {
  width: 210px;
  margin-top: 5px;
  padding-top: 17px;
  padding-bottom: 20px;
  padding-left: 40px;
  border: 1px $color-border solid;
  border-radius: 80em;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  text-transform: uppercase;
  opacity: 0.5;
}

.contacts__button {
  width: 220px;
}

.contacts__questions {
  width: 340px;
}

.contacts__iframe {
  width: 100%;
}

@media (max-width: $tablet-width) {
  .contacts__form {
    flex-direction: column;
    width: auto;
  }

  .contacts__input {
    margin-bottom: 10px;
  }

  .contacts__questions {
    width: 300px;
  }

  .contacts__details {
    flex-direction: column;
    align-items: center;
  }

  .contacts__footer {
    min-width: 750px;
  }

  .contacts__map {
    background-image: url("../img/map-mobile.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    overflow: hidden;
    height: auto;
    position: static;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background: url("../img/map-mobile@2x.jpg") no-repeat;
      background-size: 100%;
    }
  }
}

@media (max-width: $mobile-width) {
  .contacts__details {
    min-width: 300px;
    margin-bottom: 0;
    width: 310px;
    flex-direction: column;
    align-items: unset;
  }

  .contacts__questions {
    width: 100%;
  }

  .contacts__map {
    position: static;
    width: calc(100% - 10px);
    overflow: hidden;
    margin: 0 auto;
  }

  .contacts__footer {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 20px);
    min-width: 300px;
  }

  .contacts__h {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .contacts__form {
    align-items: center;
    width: 100%;
    margin-top: 15px;
  }

  .contacts__input {
    width: 250px;
  }

  .contacts__input--name {
    margin-bottom: 0;
  }

  .contacts__button {
    width: 260px;
    margin-top: 15px;
  }
}
