.contacts__p {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  opacity: 0.87;
}

.contacts__p2 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  opacity: 0.5;
}

@media (max-width: $tablet-width) {

}

@media (max-width: $mobile-width) {

}
