.curator {
  width: 515px;
}

.curator__town {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  opacity: 0.74;
}

.curator__newsib {
  border-bottom: 1px $color-head dashed;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  font-variant: small-caps;
  opacity: 0.74;
  height: 20px;
}

.curator__name {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
}

.curator__name span {
  color: $color-head;
}

.curator__adress {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  opacity: 0.74;
}

.curator__description {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 170%;
  opacity: 0.87;
}

.curator__navigator {
  display: flex;
  align-items: last baseline;
}

@media (max-width: $tablet-width) {

}

@media (max-width: $mobile-width) {

}
