.feedback {
  position: relative;
  padding-top: 160px;
  background-image: url("../img/watercolor-feedback.png");
  background-size: 100%;
}

.feedback__footer-wrap {
  position: relative;
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
}

.feedback::before {
  content: "";
  width: 843px;
  height: 535px;
  background-image: url("../img/sketch-desktop.png");
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 66666666666666;

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background: url("../img/sketch-desktop@2x.png") no-repeat;
    background-size: auto;
  }
}

.feedback__block {
  margin-top: 30px;
  margin-left: 50px;
}

.feedback__name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
}

.feedback__dl {
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
}

.feedback__dt {
  color: $color-head;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
}

.feedback__dd {
  margin-left: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  opacity: 0.74;
}

.feedback__description {
  width: 680px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 170%;
  opacity: 0.74;
}

.feedback__a {
  margin-left: 50px;
  color: $color-head;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  text-decoration-line: underline;
}

.feedback__list {
  display: flex;
  padding-left: 0;
  width: 7104px;
  scroll-snap-type: x mandatory;
  scroll-padding: 50%;
}

.feedback__list-wrap {
  position: relative;
  width: 1184px;
  margin: 0 auto;
  overflow: hidden;
}

.feedback__item {
  width: 1184px;
  scroll-snap-align: center;
  display: flex;
}

.feedback__footer {
  position: relative;
  width: 675px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  left: 160px;
  bottom: 60px;
}

.feedback__head {
  width: 200px;
  margin: 0 auto;
}

.feedback__icons {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.feedback__img-wrap {
  position: relative;
  bottom: 10px;
  left: 10px;
}

.feedback__icons-wrap {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: $live-good-width) {
  .feedback__description {
    width: 580px;
  }

  .feedback__footer {
    width: 480px;
  }
}

@media (max-width: $tablet-width) {
  .feedback__item {
    width: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .feedback__list-wrap {
    width: 700px;
    padding-bottom: 50px;
  }

  .feedback__description {
    width: 600px;
  }

  .feedback__footer {
    width: 300px;
    bottom: 0;
  }

  .feedback__block {
    text-align: center;
  }
}

@media (max-width: $mobile-width) {
  .feedback {
    padding-top: 50px;
  }

  .feedback__item {
    width: 300px;
  }

  .feedback__list-wrap {
    width: 300px;
    padding-bottom: 0;
  }

  .feedback__description {
    width: 288px;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
  }

  .feedback__img-wrap {
    width: 240px;
    margin: 0 auto;
    margin-bottom: 40px;
    top: 10px;
    bottom: 0;
    left: 0;
  }

  .feedback__a {
    margin-left: 0;
    margin-top: 20px;
  }

  .feedback__block {
    width: 100%;
    text-align: left;
    margin: 0;
    padding-top: 25px;
  }

  .feedback__dl {
    flex-direction: column;
    margin-bottom: 25px;
  }

  .feedback__dd {
    margin-left: 0;
  }

  .feedback__footer {
    left: 0;
    position: relative;
  }

  .feedback__head {
    text-align: center;
  }

  .feedback__icons {
    width: 100%;
    margin: 0 auto;
  }

  .feedback__icons-wrap {
    margin-top: 10px;
    width: 100px;
  }
}
