.footer {
  border-top: solid 1px $color-border;
  margin-bottom: 0;
}

.footer__p {
  padding-left: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  opacity: 0.5;
}

.footer__wrap {
  width: calc(100% - 210px);
  margin: 0 auto;
  max-width: 1366px;
  min-width: 750px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  width: 115px;
  padding-right: 10px;
}

@media (max-width: $mobile-width) {
  .footer__wrap {
    flex-direction: column;
    width: 250px;
    min-width: 250px;
    padding-top: 40px;
  }

  .footer__icons {
    width: 130px;
    margin-top: 20px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__p {
    margin-top: 25px;
  }

  .footer__icon {
    width: 32px;
    height: 32px;
  }

  .footer__logo {
    align-self: center;
  }
}
