.galery {
  background-image: url(../img/galery-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background: url("../img/galery-desktop@2x.png") no-repeat;
  }
}

.galery__p {
  color: $color-white;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 170%;
  opacity: 0.87;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}

@media (max-width: $tablet-width) {

}

@media (max-width: $mobile-width) {

}
