.got-it {
  position: fixed;
  top: 0;
  z-index: 66666;
}

.got-it__label {
  cursor: pointer;
}

.got-it__wrap {
  width: 380px;
  position: relative;
  background-color: $color-white;
  margin: 0 auto;
  margin-top: 115px;
  overflow: hidden;
  padding-top: 26px;
  padding-bottom: 40px;
  padding-left: 48px;
  padding-right: 48px;
  border-radius: 10px;
}

.got-it__input {
  width: 320px;
  margin-top: 5px;
  padding-top: 17px;
  padding-bottom: 20px;
  padding-left: 40px;
  border: 1px $color-border solid;
  border-radius: 80em;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  text-transform: uppercase;
  opacity: 0.5;
}

.got-it__check {
  width: 18px;
  height: 18px;
  border: 1px $color-hover solid;
  color: $color-font;
}

.got-it__a {
  display: block;
  width: 240px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: $color-font;
}

.got-it__button {
  right: 26px;
  top: 30px;
}

.got-it__label::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 5px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px $color-hover solid;
}

.got-it__check:checked + .got-it__label::before {
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.got-it__gradient {
  margin: auto;
  margin-top: 22px;
  margin-bottom: 16px;
  margin-left: 70px;
}

.got-it__check-container {
  display: flex;
  width: 264px;
  margin: 0 auto;
}

.got-it__h {
  margin-top: 25px;
}

@media (max-width: $mobile-width) {
  .got-it__wrap {
    width: 288px;
    position: relative;
    background-color: $color-white;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 24px;
    padding-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .got-it__form {
    display: flex;
    flex-direction: column;
  }

  .got-it__input {
    width: calc(100% - 40px);
  }

  .got-it__h {
    margin-top: 145px;
    margin-bottom: 15px;
  }

  .got-it__gradient {
    margin-left: auto;
  }
}
