.head {
  color: $color-head;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

@media (max-width: $mobile-width) {
  .head {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
  }
}
