.header {
  width: 100%;
  height: auto;
  max-height: 830px;
  overflow: hidden;
  background-image: url(../img/head-photo-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background: url("../img/head-photo-desktop@2x.png") no-repeat;
  }
}

.header__nav {
  width: calc(100% - 220px);
  position: relative;
  z-index: 6666;
  min-width: 950px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__photo {
  position: relative;
  margin-bottom: 0;
  height: auto;
  max-height: 800px;
  width: 100%;
  min-width: 1000px;
  max-width: 1366px;
}

.header__girl {
  width: 100%;
  position: relative;
  bottom: 80px;
}

.header__izrael {
  width: calc(100% - 350px);
  position: absolute;
  left: 175px;
  top: 80px;
}

.header__phone {
  color: $color-font;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.header__button {
  color: $color-font;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  font-variant: small-caps;
  border: none;
  border-bottom: 1px dashed $color-font;
  background: none;
}

.header__head {
  width: 360px;
  position: relative;
  bottom: 45px;
  margin: 0 auto;
  color: $color-white;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}

.header__hint::before {
  content: "";
  width: 75px;
  height: 132px;
  background-image: url(../img/scroll.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.header__hint {
  display: block;
  width: 75px;
  height: 132px;
  position: relative;
  z-index: 666;
  margin: 0 auto;
  bottom: 10px;
}

.header__scroll {
  position: relative;
  bottom: 300px;
}

@media (max-width: $tablet-width) {
  .header {
    width: 100%;
    height: auto;
    max-height: 600px;
    background-size: cover;
  }

  .header__nav {
    width: calc(100% - 40px);
    min-width: 720px;
  }

  .header__photo {
    min-width: 0;
    position: relative;
    bottom: 0;
  }

  .header__izrael {
    width: 100%;
    left: 0;
  }

  .header__girl {
    width: 100%;
    bottom: 80px;
  }

  .header__head {
    opacity: 0.8;
  }
}

@media (max-width: $mobile-width) {

  .header__phone {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  .header__button {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  .header__head {
    width: 298px;
    opacity: 1;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .header__nav {
    min-width: 300px;
    flex-direction: column;
    justify-content: left;
    align-items: last baseline;
  }

  .header__logo {
    position: absolute;
    left: 0;
  }

  .header__girl {
    bottom: 30px;
  }

  .header__izrael {
    top: 100px;
  }

  .header__scroll {
    bottom: 180px;
  }

  .header__photo {
    width: 320px;
    margin: 0 auto;
  }
}


@media (max-width: $good-look-width) {
  .header {
    background-image: url(../img/head-photo-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background: url("../img/head-photo-mobile@2x.png") no-repeat;
    }
  }
}
