.how-to-go__p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 170%;
  opacity: 0.87;
}

.how-to-go__p2 {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 170%;
}

.how-to-go__p3 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  opacity: 0.5;
}

.how-to-go__item {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
}


