.izrael-live__p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 170%;
  opacity: 0.87;
}

.izrael-live__head {
  font-family: $font-raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 25px;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}
