.izrael-live {
  background-image: url("../img/watercolor-live-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.izrael-live__br {
  display: none;
}

.izrael-live__p {
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 170%;
  opacity: 0.87;
  width: 720px;
  margin: 0 auto;
}

.izrael-live__head {
  position: absolute;
  left: 25px;
  bottom: 10px;
  width: calc(100% - 80px);
  color: $color-white;
  font-family: $font-raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 25px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

.izrael-live__wrap {
  width: 1152px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.izrael-live__h2 {
  margin-bottom: 25px;
  margin-top: 45px;
  text-align: center;
}

.izrael-live__advantage {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 0;
  padding-left: 0;
}

.izrael-live__item {
  position: relative;
  height: auto;
  width: auto;
  align-self: flex-start;
}

.izrael-live__item--girls {
  position: absolute;
  top: 390px;
  right: 250px;
}

.izrael-live__item--sun {
  position: absolute;
  top: 390px;
  right: 0;
}

.izrael-live__scroll {
  display: none;
}

.izrael-live__item--history {
  bottom: 20px;
}

.izrael-live__item--language {
  top: 40px;
  left: 10px;
}

.izrael-live__item--study {
  top: 40px;
  left: 40px;
}

@media (max-width: $live-good-width) {
  .izrael-live__wrap {
    width: 1020px;
  }

  .izrael-live__item--girls {
    position: absolute;
    top: 390px;
    right: 160px;
  }

  .izrael-live__item--sun {
    right: -50px;
  }

  .izrael-live__item--language {
    right: 0;
    left: -20px;
  }

  .izrael-live__item--study {
    position: absolute;
    left: 670px;
    top: 40px;
    width: 320px;
  }
}

@media (max-width: $tablet-width) {
  .izrael-live__advantage-wrap {
    width: 600px;
    margin: 0 auto;
    overflow: hidden;
    user-select: none;
    touch-action: pan-y;
  }

  .izrael-live__advantage {
    flex-wrap: nowrap;
    width: 1500px;
    scroll-snap-type: x mandatory;
    scroll-padding: 50%;
  }

  .izrael-live__item {
    width: 300px;
    height: 400px;
    scroll-snap-align: center;
    position: static;
    flex-shrink: 0;

    img {
      pointer-events: none;
    }
  }

  .izrael-live__scroll {
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin: 0 auto;
  }

  .izrael-live__a {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 40px;
    background-color: #484848;
    opacity: 0.2;
  }

  .izrael-live__a--active {
    opacity: 1;
    background-color: $color-hover;
  }

  .izrael-live__head {
    position: relative;
    bottom: 160px;
  }

  .izrael-live__p {
    width: 520px;
    margin: 0 auto;
    text-align: center;
  }

  .izrael-live__wrap {
    margin-top: 0;
  }
}

@media (max-width: $mobile-width) {
  .izrael-live__wrap {
    width: 100%;
    margin-bottom: 20px;
  }

  .izrael-live__head {
    bottom: 80px;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    text-align: center;
  }

  .izrael-live__h2 {
    margin-top: 35px;
  }

  .izrael-live__br {
    display: block;
  }

  .izrael-live__p {
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
  }

  .izrael-live__advantage-wrap {
    width: 300px;
  }

  .izrael-live__scroll {
    padding-left: 0;
    width: 65px;
  }

  .izrael-live__item {
    height: 430px;
  }
}
