.programs__link {
  color: $color-font;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.87;
}

.programs__head {
  font-family: $font-montserrat;
  color: $color-head;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.02em;
}

.programs__p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 170%;
  opacity: 0.87;
}

@media (max-width: $tablet-width) {

}

@media (max-width: $mobile-width) {

}
