.programs {
  overflow: hidden;
  background-image: url("../img/sketch-desktop.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: right;
  background-position-y: 150px;

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background: url("../img/sketch-desktop@2x.png") no-repeat;
    background-size: auto;
  }
}

.programs__wrap {
  width: calc(100% - 420px);
  margin: 0 auto;
  min-width: 720px;
  margin-top: 200px;
}

.programs__p2 {
  margin-top: 20px;
}

.programs__container {
  padding-top: 0;
  display: flex;
  justify-content: space-between;
}

.programs__link {
  height: 45px;
  padding-top: 22px;
  padding-left: 70px;
  display: block;
  color: $color-font;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.87;
}

.programs__head {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: $font-montserrat;
  color: $color-head;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.02em;
}

.programs__p {
  width: calc(100% - 90px);
  min-width: 410px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 170%;
  opacity: 0.87;
}

.programs__anchors {
  margin-top: 35px;
  padding-left: 0;
}

.programs__anchors-item {
  height: 72px;
  position: relative;
  width: 230px;
}

.programs__link::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 20px;
  top: 16px;
}

.programs__link:hover {
  color: $color-hover;
  opacity: 1;
}

.programs__link--culture::before {
  background-image: url("../img/culture.svg");
  background-repeat: no-repeat;
}

.programs__link--business::before {
  background-image: url("../img/business.svg");
  background-repeat: no-repeat;
}

.programs__link--religion::before {
  background-image: url("../img/religion.svg");
  background-repeat: no-repeat;
}

.programs__link--study::before {
  background-image: url("../img/study.svg");
  background-repeat: no-repeat;
}

.programs__link--volonteur::before {
  background-image: url("../img/volonteur.svg");
  background-repeat: no-repeat;
}

.programs__link--culture:hover::before {
  background-image: url("../img/culture-hover.svg");
  background-repeat: no-repeat;
}

.programs__link--business:hover::before {
  background-image: url("../img/business-hover.svg");
  background-repeat: no-repeat;
}

.programs__link--religion:hover::before {
  background-image: url("../img/religion-hover.svg");
  background-repeat: no-repeat;
}

.programs__link--study:hover::before {
  background-image: url("../img/study-hover.svg");
  background-repeat: no-repeat;
}

.programs__link--volonteur:hover::before {
  background-image: url("../img/volonteur-hover.svg");
  background-repeat: no-repeat;
}

.programs__anchors-item--active {
  .programs__link {
    color: $color-white;
    text-transform: uppercase;
    opacity: 1;
    background-image: url("../img/back-active.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .programs__link--business::before {
    background-image: url("../img/business-toggle.svg");
    background-repeat: no-repeat;
  }

  .programs__link--religion::before {
    background-image: url("../img/religion-toggle.svg");
    background-repeat: no-repeat;
  }

  .programs__link--study::before {
    background-image: url("../img/study-toggle.svg");
    background-repeat: no-repeat;
  }

  .programs__link--volonteur::before {
    background-image: url("../img/volonteur-toggle.svg");
    background-repeat: no-repeat;
  }

  .programs__link--culture::before {
    background-image: url("../img/culture-toggle.svg");
    background-repeat: no-repeat;
  }
}

.programs__list {
  width: calc(100% - 291px);
  margin-top: 50px;
  padding-left: 0;
  height: 500px;
  overflow: hidden;
}

.programs__item {
  height: 500px;
}

@media (max-width: $tablet-width) {
  .programs__wrap {
    margin-top: 100px;
  }

  .programs__list {
    height: 400px;
  }

  .programs__anchors {
    position: relative;
  }
}

@media (max-width: $mobile-width) {
  .programs__container {
    flex-direction: column;
  }

  .programs__anchors-container {
    width: 100%;
    height: 80px;
    overflow: hidden;
  }

  .programs__link::before {
    top: 10px;
    left: 15px;
  }

  .programs__anchors {
    display: flex;
    width: 900px;
    scroll-snap-type: x mandatory;
    scroll-padding: 50%;
    justify-content: unset;
    margin-top: 0;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .programs__anchors-item {
    scroll-snap-align: center;
    width: auto;
    padding-right: 15px;
  }

  .programs__link {
    padding-left: 60px;
    padding-right: 20px;
    font-size: 15px;
    line-height: 18px;
  }

  .programs__anchors-item--active {
    .programs__link {
      color: $color-white;
      text-transform: uppercase;
      opacity: 1;
      display: block;
      width: auto;
      height: 20px;
      background-image: $color-gradient;
      border-radius: 80px;
      padding-right: 10px;
      padding-bottom: 15px;
      padding-top: 15px;
    }
  }

  .programs__wrap {
    width: 100%;
    margin-top: 75px;
    min-width: 0;
  }

  .programs__h {
    text-align: center;
    margin-bottom: 15px;
  }

  .programs__head {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
  }

  .programs__list {
    width: calc(100% - 20px);
    height: auto;
    max-width: 300px;
    margin: 0 auto;
  }

  .programs__p {
    width: 100%;
    max-width: 288px;
    min-width: 200px;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
  }

  .programs__item {
    height: auto;
  }

  .programs__p2 {
    margin-top: 10px;
  }
}
