.questions__head {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
}

.questions__answer {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  opacity: 0.74;
}

@media (max-width: $tablet-width) {

}

@media (max-width: $mobile-width) {

}
