.toggle {
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: end;
}

.toggle__button {
  width: 16px;
  height: 16px;
  border: none;
  background-color: $color-white;
}

.toggle__left {
  background-image: url("../img/left.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.toggle__right {
  background-image: url("../img/right.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.toggle__numbers {
  margin: 0;
}

.toggle__container {
  width: 40px;
  display: flex;
  justify-content: space-between;
}

.toggle__toggle {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: $mobile-width) {
  .toggle {
    position: absolute;
    z-index: 6666666666666;
    width: 100%;
    left: 0;
    bottom: 690px;
  }

  .toggle__toggle {
    width: 100px;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
  }
}
