.want-to-go {
  overflow: visible;
  position: relative;
  z-index: 50;
  background-image: url("../img/bag-desktop.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
}

.want-to-go__img {
  position: absolute;
  width: 860px;
  height: auto;
  z-index: -1;
  top: -170px;
  right: -25px;
}

.want-to-go__p {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 170%;
}

.want-to-go__wrap {
  display: flex;
  width: calc(100% - 420px);
  min-width: 750px;
  margin: 0 auto;
}

.want-to-go__action {
  position: relative;
  margin-bottom: 230px;
  margin-top: 65px;
}

.want-to-go__action button {
  width: 220px;
  position: relative;
  top: -60px;
  left: 260px;
  border: none;
}

.want-to-go__action input {
  width: 437px;
  padding-top: 17px;
  padding-bottom: 20px;
  padding-left: 40px;
  border: 1px $color-border solid;
  border-radius: 80em;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  text-transform: uppercase;
}

.want-to-go__form {
  width: 477px;
}

.want-to-go__head {
  margin-top: 45px;
  margin-bottom: 25px;
}

.want-to-go__picture {
  width: 100%;
  height: auto;
}

@media (max-width: $tablet-width) {
  .want-to-go__img {
    top: auto;
    right: auto;
    width: auto;
  }

  .want-to-go__form {
    padding-left: 20px;
  }

  .want-to-go__action {
    margin-bottom: 50px;
  }
}

@media (max-width: $mobile-width) {
  .want-to-go__wrap {
    width: 100%;
    min-width: 0;
    flex-direction: column;
    overflow: hidden;
  }

  .want-to-go__form {
    width: calc(100% - 20px);
    max-width: 500px;
    margin: 0 auto;
    padding-left: 0;
  }

  .want-to-go__img {
    width: 100%;
    max-width: 400px;
    position: static;
    margin: 0 auto;
  }

  .want-to-go__action {
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .want-to-go__button {
    width: 260px;
    margin-left: 0;
  }

  .want-to-go__action button {
    position: static;
    margin: 0 auto;
    width: 270px;
  }

  .want-to-go__action input {
    width: 247px;
    margin-bottom: 5px;
  }

  .want-to-go__head {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .want-to-go__p {
    width: 290px;
  }
}
