@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Biold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/FiraSans-Medium.woff2") format("woff2"),
    url("../fonts/FiraSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/FiraSans-Regular.woff2") format("woff2"),
    url("../fonts/FiraSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/Raleway-Bold.woff") format("woff");
}


