$font-montserrat: "Montserrat", "Arial", sans-serif;
$font-fira: "Fira Sans", "Arial", sans-serif;
$font-raleway: "Raleway", "Arial", sans-serif;
$color-font: #484848;
$color-head: #1FC0FC;
$color-back: #8f7c74;
$color-white: #ffff;
$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
