$font-montserrat: "Montserrat", "Arial", sans-serif;
$font-fira: "Fira Sans", "Arial", sans-serif;
$font-raleway: "Raleway", "Arial", sans-serif;
$color-font: #484848;
$color-border: #e3e3e3;
$color-head: #1FC0FC;
$color-back: #8f7c74;
$color-white: #ffff;
$color-gradient: linear-gradient(132.19deg, #FFC341 20.46%, #FFD701 65.31%);
$color-hover: #FFD701;
$tablet-width: 1023px;
$mobile-width: 767px;
$good-look-width: 400px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
